<header>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index"><span>K</span>urumsal </a>
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index">ANASAYFA</a></li>
                    <li><a href="/Services/Index">HIZMETLER</a></li>
                    <li><a href="/Contact/Contact">ILETISIM</a></li>
                    <li><a href="/About/Index">HAKKIMIZDA</a></li>
                    <li><a href="/Comment/Comment">YORUMLAR</a></li>

                </ul>
            </div>
        </div>
    </div>
</header>

